body{
    font-size: 16px;
}
.page{
display: flex;
flex-direction: column;
background: #A8A8FF;
height: 2rem;
margin: 2rem 3rem;
}
.page__text{
    color: #8055FF;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 2rem;
}
.Filter{
display: flex;
border: 2px solid #A8A8FF;
padding: 0.5rem;
margin: 2rem 3rem;
}
.Filter__group{
    display: flex;
    margin-right: auto;
}
.Filter__item1{
width: 16rem;
margin-right: 0.5rem;
background: #8055FF;
}
.Filter__item2{
    width: 2rem;
    background: #8055FF;
}
.Filter__item{
    padding: 1rem;
    background: #8055FF;
}
.Table{
display: flex;
flex-direction: column;
margin: 2rem 3rem 0 3rem;
}
.Table__Header{
    background: #8055FF;
    padding: 1.5rem;
}
.Table__Body{
    background: #A8A8FF;
align-items: stretch;
min-height: 32rem;
}
.Table__Footer{
    position: sticky;
    bottom:0;
background: #8055FF;
}
.Table__item1 {
    margin-left: auto;
    padding: 1.5rem 16rem;

}
.Table__item{
    margin-right: auto;
    padding: 1.5rem 16rem;

}